- content_for :heading do
  Help & support

:javascript
  $(function() {
    $("a.page").click(function (e) {
      $("div.page").hide();
      $($(e.target).attr("href")).show();
    });
  });


#buttons
  %a.button(href = "/") Go to checklists

#content(style = "position: relative")
  #page_list(style = "position: absolute; left: 0; top: 0; width: 100px; height: 300px; padding-right: 20px; padding-top: 0; border-right: 1px dotted #c0c0c0")
    %ul(style = "list-style: none; padding-left: 0; padding-top: 0")
      %li
        %a.page(href = "#contact") Contact
      %li
        %a.page(href = "#guide") User guide
      %li
        %a.page(href = "#faq") FAQ

  #contact.page(style = "display: block")
    %h2 Contact
    %p
      If you have a problem, would like to request a feature, or provide feedback, please contact us via the form below.
      %br
      We will reply to the email address you use to sign in to OnlineChecklists.
      %br
      %br
      Alternatively, you can email us at
      = succeed "." do
        = mail_to "support@onlinechecklists.com", nil, subject: "OnlineChecklists support request from #{current_user.email}"

      %br
      %br

      - if flash[:message]
        #flash(style = "margin-left: 0") #{flash[:message]}

    - form_tag :action => "support" do
      %textarea(id = "message" name = "message" style = "display: block; height: 200px; width: 60%")
      %br
      %button(type = "submit") Send

  #guide.page
    %h2 User guide

    Please note that we recommend using a modern browser for best experience: Mozilla Firefox, Google Chrome or Internet Explorer 8 or newer.
    Internet Explorer 6 is not supported.

    %h3 Overview

    %p
      OnlineChecklists is a replacement for paper checklists. It allows a group of users to create checklists,
      fill them out, and view reports on the number of checklists completed by each user.
    %p
      Note: please ensure that the time zone for your account is set correctly, so that you get accurate reports. The time
      zone can be set by the user who signed up for OnlineChecklists.

    %h3 Checklists

    %p
      Checklists can be created, filled out, edited and deleted by any user. There is no limit on the number of items in a
      checklist.
    %p
      When you fill out a checklist, you can put additional information such as the customer or product name into the Notes field.
    %p
      When a checklist is deleted, it will still appear in reports.

    %h3 Reports

    %h4 Timeline

    %p
      The timeline report shows a list of completed checklists with times, users who completed them and notes. It can be
      narrowed down to a combination of a particular checklist and/or user. You can use <b>Prev week</b>/<b>Next week</b>
      buttons to move between weeks.

    %p
      This report goes back a maximum of one year.

    %h4 Charts

    %p
      You can also get a graphical representation of the number of checklist completions. This is useful for seeing trends
      in the number of checklists completed, or to see how many checklists different people fill out relative to each other.
    %p
      You can select a checklist you'd like to see a chart for, and select any users you'd like to see on the chart.
    %p
      You can also choose to see daily, weekly or monthly numbers. Please note that daily numbers are only available for
      the last 30 days, whereas weekly and monthly numbers go back one year.

    %h3 Settings

    %p
      You can change your name, email and password in <b>Settings</b>. Please note that if you change your email, you will
      need to use the new email to sign into OnlineChecklists.
    %p
      If you are the user who created the account, you will also be able to change the time zone here.


    %h3 Managing users

    %p
      Users can only be managed by the person who created the account.
    %p
      You can access the user page by pressing the <b>Invite users</b> on the main page, or by pressing <b>Manage users</b>
      on the <b>Settings</b> page.
    %p
      On the user page you can invite more users, and delete the existing users.
    %p
      When you invite somebody to use OnlineChecklists, they will receive an email with a link. When they follow the link,
      they will be able to set their password and access the application.


    %h3 Managing subscription

    %p
      The subscription can only be managed by the person who created the account. The subscription page is accessible from
      the <b>Settings</b> page via the <b>Manage subscription</b> button.

    %h4 Subscribe

    %p
      When you sign up, you get access to a 14 day free trial. You can sign up to one of the paid plans at any time.

    %h4 Change plan

    %p
      You can change the plan at any time. Previous charges will be pro-rated. If you change to a smaller plan, you will
      receive store credit.

    %h4 View billing history

    %p
      You can view your complete billing history and access your invoices by clicking on the <b>Subscription details and
      billing history</b> link.

    %h4 Cancel subscription

    %p
      You can cancel your subscription at any time. If you require your data, please contact support before cancelling
      your subscription. When you cancel your subscription, none of the users under your account will be able to access
      OnlineChecklists. The cancellation is immediate.

  #faq.page
    %h2 Frequently asked questions

    %h3 Do you make refunds?
    %p
      We bill you monthly so you are free to cancel the service at any time, and because of this we do not provide refunds.
      However, if you change to a smaller plan, previous charges will be pro-rated.

    %h3 Can I change plans at any time?
    %p
      Yes, you can change plans whenever you like. Charges will be pro-rated if you are changing to a more expensive plan,
      and you will receive store credit if you change to a cheaper plan.

    %h3 Can I get my data if I cancel my subscription?
    %p
      Yes, please get in touch with us and we will arrange an export of your data.