// general elements

html, body
  margin: 0
  padding: 0
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  color: #363636

h1
  margin: 10px
  color: #ffffff

input
  font-size: 20px
  padding: 4px
  border: 1px solid #d0d0d0
  border-radius: 3px
  -moz-border-radius: 3x
  -webkit-border-radius: 3px
  box-shadow: rgba(0,0,0,0.1) 1px 1px 3px 0px inset
  -moz-box-shadow: rgba(0,0,0,0.1) 1px 1px 3px 0px inset
  -webkit-box-shadow: rgba(0,0,0,0.1) 1px 1px 3px 0px inset
  &:focus
    background-color: #f6feff

// IE draws the border *around* the whole checkbox, making it look stupid
input[type=checkbox]
  border: none

label
  margin-bottom: 4px

form
  text-align: left

a
  color: #3c62a1
  font-weight: bold
  text-decoration: none
  border-bottom: 1px dotted #3c62a1
  &:hover
    border-bottom: 1px solid #3c62a1

select
  padding: 4px

li
  color: #a8bfda
  font-size: 24px
  a
    font-size: 14px

@mixin button
  padding: 5px
  box-shadow: #c0c0c0 1px 2px 4px
  -webkit-box-shadow: #c0c0c0 1px 2px 4px
  -moz-box-shadow: #c0c0c0 1px 2px 4px
  border: 1px solid
  border-radius: 5px
  -moz-border-radius: 5x
  -webkit-border-radius: 5px
  color: white
  font-size: 18px
  font-weight: bold
  text-align: center
  text-shadow: #395C09 0px 1px 0px
  &:hover
    background-position: left top
  &:active
    box-shadow: -1px -1px 4px #c0c0c0
    -webkit-box-shadow: -1px -1px 4px #c0c0c0
    -moz-box-shadow: -1px -1px 4px #c0c0c0


// sections

#header
  height: 120px
  background: url("/images/bg-home-header-content.jpg") repeat-x center top

  #nav
    padding: 5px
    padding-top: 14px
    text-align: right
    width: auto
    margin: 0
    height: 46px
    color: white

    a
      color: white
      border-bottom: 1px dotted white
      &:hover
        border-bottom: 1px solid white

    .logo
      a
        font-weight: bold
        color: #ffffff
        float: left
        font-size: 16px
        border-bottom: none
        .capital
          color: #e2effc

  #heading
    margin-top: 5px

#main
  min-height: 200px
  padding:
    top: 15px
    left: 20px
  background: white url("/images/bg-container.gif") repeat-x 0% 0%
  border-top: 1px solid white
  #buttons
    margin-bottom: 20px
    border-bottom: 1px dotted #c0c0c0
    padding:
      left: 10px
      bottom: 12px
    margin:
      left: -10px
      right: 10px
    .button
      @include button
      background: #7CC319 url("/images/bg-button-pale.gif") repeat-x 0% 100%
      border-color: #90bf22
      &:hover
        background-image: url("/images/bg-button-pale-over.gif")


#content
  .controls
    display: block
    position: absolute
    right: 10px
    top: 16px
    color: #d0d0d0
    padding-left: 100px
    text-shadow: none
    a
      color: #9fb2d2
    .secondary
      font-size: 14px

  .report_controls
    text-align: center
    .prev_week
      float: left
      img
        border: none
        vertical-align: middle
        padding-right: 5px

    .next_week
      float: right
      margin-right: 20px
      img
        border: none
        vertical-align: middle
        padding-left: 5px

  ul.checklists
    width: 90%
    padding-left: 0
    font-size: 24px
    font-weight: bold
    list-style-position: inside
    li.checklist
      position: relative
      padding: 10px
      .name
        color: #4b5e8a
        text-shadow: #f0f0f0 0px 1px 0px
      .controls
        font-size: 14px
      &:hover
        background-color: #e7f3ff


  li.checklist_item
    font-size: 20px
    margin-bottom: 10px
    width: 50%
    list-style-image: url('/images/unchecked.png')
    position: relative
    color: #4b5e8a
    padding-left: 5px
    .instructions
      position: absolute
      right: 10px
      top: 12px
      color: #a0a0a0
      display: none
      font-size: 12px
      line-height: 22px
      padding-right: 10px
    &.selected
      background-color: #e7f3ff
      padding: 10px
      border-radius: 5px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
      .instructions
        display: inline


    &.checked
      list-style-image: url('/images/checked.png')

  div.users
    padding-bottom: 50px
    div.user
      padding: 10px
      position: relative
      &:hover
        background-color: #e7f3ff
      h3
        margin-top: 0

  .checklist:hover, .user:hover
    .controls
      color: #363636
      a
        color: #3c62a1
        border-bottom-color: #3c62a1


  #user_list
    padding-top: 40px

  table.timeline_entries
    tr
      &:hover
        td
          background-color: #d6eff7
      th
        text-align: left
        border-bottom: 1px solid #f0f0f0
        padding:
          left: 10px
          right: 50px

      td
        padding:
          left: 10px
          right: 50px
        //border-left: 1px solid #f0f0f0
        &.first
          border-left: none


// UI elements

#flash
  background-color: #ffcc66
  padding: 10px
  margin:
    top: 10px
    bottom: 10px
    left: auto
    right: auto
  width: 50%
  color: #ffffff
  font-weight: bold
  font-size: 18px
  border-bottom-color: #c5c5c5
  box-shadow: 0 2px 2px #e2e2e2
  -webkit-box-shadow: 0 2px 2px #e2e2e2
  -moz-box-shadow: 0 2px 2px #e2e2e2
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

#account_status
  position: absolute
  right: 20px
  top: 65px
  width: 50%
  font-weight: bold
  text-align: left
  padding:
    left: 20px
    right: 20px
  border:
    left: 10px solid #da9201
    right: 10px solid #da9201

.message, #error_explanation
  color: #da9201
  font-weight: bold

.center
  text-align: center


.button, input[type=submit], button
  @include button
  background: #7CC319 url("/images/bg-button.gif") repeat-x 0% 100%
  border-color: #6AAD0F
  &:hover
    background-image: url("/images/bg-button-over.gif")

.button_red
  @include button
  background: #c02020 url("/images/bg-button-red.gif") repeat-x 0% 100%
  border-color: #8c1717
  &:hover
    background-image: url("/images/bg-button-red-over.gif")

#licence
  border-left: 15px solid #e0e0e0
  margin-left: 25px
  padding-left: 20px
  width: 60%

.time_zone
  select
    padding: 10px