// general elements

html, body
  margin: 0
  padding: 0
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px
  color: #363636

h1
  margin: 10px
  color: #ffffff

input
  font-size: 20px
  padding: 4px
  border: 1px solid #d0d0d0
  border-radius: 3px
  -moz-border-radius: 3x
  -webkit-border-radius: 3px
  box-shadow: rgba(0,0,0,0.1) 1px 1px 3px 0px inset
  -moz-box-shadow: rgba(0,0,0,0.1) 1px 1px 3px 0px inset
  -webkit-box-shadow: rgba(0,0,0,0.1) 1px 1px 3px 0px inset
  &:focus
    background-color: #f6feff

label
  margin-bottom: 4px

form
  text-align: left
//  width: 50%
//  margin:
//    left: auto
//    right: auto

a
  color: #3c62a1
  font-weight: bold
  text-decoration: none
  border-bottom: 1px dotted #3c62a1
  &:hover
    border-bottom: 1px solid #3c62a1

// sections

#header
  height: 120px
  background: url("/images/bg-home-header-content.jpg") repeat-x center top

  #nav
    padding: 5px
    padding-top: 14px
    text-align: right
    width: auto
    margin: 0
    height: 46px
    color: white

    a
      color: white
      border-bottom: 1px dotted white
      &:hover
        border-bottom: 1px solid white

    .logo
      a
        font-weight: bold
        color: #ffffff
        float: left
        font-size: 16px
        border-bottom: none
        .capital
          color: #e2effc

  #heading
    margin-top: 5px

#main
  min-height: 200px
  padding:
    top: 15px
    left: 20px
  background: white url("/images/bg-container.gif") repeat-x 0% 0%
  border-top: 1px solid white

#content
  ul.checklists
    width: 90%
    padding-left: 0
    list-style: none
    font-size: 20px
    li
      padding: 10px
      .controls
        display: inline-block
        float: right
        color: #c0c0c0
        padding-left: 100px
        a
          color: #9fb2d2
          border-bottom-color: #9fb2d2
        .secondary
          font-size: 14px
      &:hover
        border: 1px solid #92c5ef
        background-color: #f7fdff
        border-radius: 5px
        -moz-border-radius: 5px
        -webkit-border-radius: 5px
        .controls
          color: #363636
          a
            color: #3c62a1
            border-bottom-color: #3c62a1






// UI elements

#flash
  background-color: #ffcc66
  padding: 10px
  margin: 10px
  font-size: 18px
  border-bottom-color: #c5c5c5
  box-shadow: 0 1px 0 #e2e2e2
  -webkit-box-shadow: 0 1px 0 #e2e2e2
  -moz-box-shadow: 0 1px 0 #e2e2e2
  border-radius: 5px
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  div
    background: #e5e5e5 url("/images/bg-box.gif") repeat-x left top
    border-radius: 4px
    -moz-border-radius: 4px
    -webkit-border-radius: 4px
    padding: 10px

.center
  text-align: center

.prev_week
  float: left

.next_week
  float: right

.button, input[type=submit], button
  padding: 5px
  box-shadow: #548E06 1px 2px 4px
  -webkit-box-shadow: #548E06 1px 2px 4px
  -moz-box-shadow: #548E06 1px 2px 4px
  background: #7CC319 url("/images/bg-button.gif") repeat-x 0% 100%
  border: 1px solid #6AAD0F
  border-radius: 5px
  -moz-border-radius: 5x
  -webkit-border-radius: 5px
  color: white
  font-size: 18px
  font-weight: bold
  text-align: center
  text-shadow: #395C09 0px 1px 0px
  &:hover
    background-image: url("/images/bg-button-over.gif")
    background-position: left top
  &:active
    box-shadow: -1px -1px 4px #c0c0c0
    -webkit-box-shadow: -1px -1px 4px #c0c0c0
    -moz-box-shadow: -1px -1px 4px #c0c0c0