html, body {
  margin: 0;
  padding: 0; }

#header {
  padding: 5px;
  text-align: right;
  background-color: #f0f0f0;
  width: auto;
  margin: 0; }

.prev_week {
  float: left; }

.next_week {
  float: right; }
