html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #363636; }

h1 {
  margin: 10px;
  color: white; }

input, textarea {
  font-size: 20px;
  padding: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3x;
  -webkit-border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px inset; }
  input:focus, textarea:focus {
    background-color: #f6feff; }

input[type=checkbox] {
  border: none; }

label {
  margin-bottom: 4px; }

form {
  text-align: left; }

a {
  color: #3c62a1;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #3c62a1; }
  a:hover {
    border-bottom: 1px solid #3c62a1; }

select {
  padding: 4px; }

li {
  color: #a8bfda;
  font-size: 24px; }
  li a {
    font-size: 14px; }

#header {
  height: 120px;
  background: url("/images/bg-home-header-content.jpg") repeat-x center top; }
  #header #nav {
    padding: 5px;
    padding-top: 14px;
    text-align: right;
    width: auto;
    margin: 0;
    height: 46px;
    color: white; }
    #header #nav a {
      color: white;
      border-bottom: 1px dotted white; }
      #header #nav a:hover {
        border-bottom: 1px solid white; }
    #header #nav .logo a {
      font-weight: bold;
      color: white;
      float: left;
      font-size: 16px;
      border-bottom: none; }
      #header #nav .logo a .capital {
        color: #e2effc; }
  #header #heading {
    margin-top: 5px; }

#main {
  min-height: 200px;
  padding-top: 15px;
  padding-left: 20px;
  background: white url("/images/bg-container.gif") repeat-x 0% 0%;
  border-top: 1px solid white; }
  #main #buttons {
    margin-bottom: 20px;
    border-bottom: 1px dotted silver;
    padding-left: 10px;
    padding-bottom: 12px;
    margin-left: -10px;
    margin-right: 10px; }
    #main #buttons .button {
      padding: 5px;
      box-shadow: silver 1px 2px 4px;
      -webkit-box-shadow: silver 1px 2px 4px;
      -moz-box-shadow: silver 1px 2px 4px;
      border: 1px solid;
      border-radius: 5px;
      -moz-border-radius: 5x;
      -webkit-border-radius: 5px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      text-shadow: #395c09 0px 1px 0px;
      background: #7cc319 url("/images/bg-button-pale.gif") repeat-x 0% 100%;
      border-color: #90bf22; }
      #main #buttons .button:hover {
        background-position: left top; }
      #main #buttons .button:active {
        box-shadow: -1px -1px 4px silver;
        -webkit-box-shadow: -1px -1px 4px silver;
        -moz-box-shadow: -1px -1px 4px silver; }
      #main #buttons .button:hover {
        background-image: url("/images/bg-button-pale-over.gif"); }

#content .controls {
  display: block;
  position: absolute;
  right: 10px;
  top: 16px;
  color: #d0d0d0;
  padding-left: 100px;
  text-shadow: none; }
  #content .controls a {
    color: #9fb2d2; }
  #content .controls .secondary {
    font-size: 14px; }
#content .report_controls {
  text-align: center; }
  #content .report_controls .prev_week {
    float: left; }
    #content .report_controls .prev_week img {
      border: none;
      vertical-align: middle;
      padding-right: 5px; }
  #content .report_controls .next_week {
    float: right;
    margin-right: 20px; }
    #content .report_controls .next_week img {
      border: none;
      vertical-align: middle;
      padding-left: 5px; }
#content ul.checklists {
  width: 90%;
  padding-left: 0;
  font-size: 24px;
  font-weight: bold;
  list-style-position: inside; }
  #content ul.checklists li.checklist {
    position: relative;
    padding: 10px; }
    #content ul.checklists li.checklist .name {
      color: #4b5e8a;
      text-shadow: #f0f0f0 0px 1px 0px; }
    #content ul.checklists li.checklist .controls {
      font-size: 14px; }
    #content ul.checklists li.checklist:hover {
      background-color: #e7f3ff; }
#content li.checklist_item {
  font-size: 20px;
  margin-bottom: 10px;
  width: 90%;
  list-style-image: url("/images/unchecked.png");
  position: relative;
  color: #4b5e8a;
  padding-left: 5px; }
  #content li.checklist_item .instructions {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #a0a0a0;
    display: none;
    font-size: 12px;
    line-height: 22px;
    padding-right: 10px; }
  #content li.checklist_item.selected {
    background-color: #e7f3ff;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #content li.checklist_item.selected .instructions {
      display: inline; }
  #content li.checklist_item.checked {
    list-style-image: url("/images/checked.png"); }
#content div.users {
  padding-bottom: 50px; }
  #content div.users div.user {
    padding: 10px;
    position: relative; }
    #content div.users div.user:hover {
      background-color: #e7f3ff; }
    #content div.users div.user h3 {
      margin-top: 0; }
#content .checklist:hover .controls, #content .user:hover .controls {
  color: #363636; }
  #content .checklist:hover .controls a, #content .user:hover .controls a {
    color: #3c62a1;
    border-bottom-color: #3c62a1; }
#content #user_list {
  padding-top: 40px; }
#content table.timeline_entries tr:hover td {
  background-color: #d6eff7; }
#content table.timeline_entries tr th {
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 10px;
  padding-right: 50px; }
#content table.timeline_entries tr td {
  padding-left: 10px;
  padding-right: 50px; }
  #content table.timeline_entries tr td.first {
    border-left: none; }
#content div.page {
  display: none;
  padding-left: 140px; }
  #content div.page h2 {
    margin-top: 0; }
  #content div.page h3 {
    margin-top: 40px;
    color: #da9201; }

#flash {
  background-color: #ffcc66;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-bottom-color: #c5c5c5;
  box-shadow: 0 2px 2px #e2e2e2;
  -webkit-box-shadow: 0 2px 2px #e2e2e2;
  -moz-box-shadow: 0 2px 2px #e2e2e2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

#account_status {
  position: absolute;
  right: 20px;
  top: 65px;
  width: 50%;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid #da9201;
  border-right: 10px solid #da9201; }

.message, #error_explanation {
  color: #da9201;
  font-weight: bold; }
  .message li, #error_explanation li {
    color: #da9201;
    font-size: 14px; }

.center {
  text-align: center; }

.button, input[type=submit], button {
  padding: 5px;
  box-shadow: silver 1px 2px 4px;
  -webkit-box-shadow: silver 1px 2px 4px;
  -moz-box-shadow: silver 1px 2px 4px;
  border: 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5x;
  -webkit-border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: #395c09 0px 1px 0px;
  background: #7cc319 url("/images/bg-button.gif") repeat-x 0% 100%;
  border-color: #6aad0f; }
  .button:hover, input[type=submit]:hover, button:hover {
    background-position: left top; }
  .button:active, input[type=submit]:active, button:active {
    box-shadow: -1px -1px 4px silver;
    -webkit-box-shadow: -1px -1px 4px silver;
    -moz-box-shadow: -1px -1px 4px silver; }
  .button:hover, input[type=submit]:hover, button:hover {
    background-image: url("/images/bg-button-over.gif"); }

.button_red {
  padding: 5px;
  box-shadow: silver 1px 2px 4px;
  -webkit-box-shadow: silver 1px 2px 4px;
  -moz-box-shadow: silver 1px 2px 4px;
  border: 1px solid;
  border-radius: 5px;
  -moz-border-radius: 5x;
  -webkit-border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: #395c09 0px 1px 0px;
  background: #c02020 url("/images/bg-button-red.gif") repeat-x 0% 100%;
  border-color: #8c1717; }
  .button_red:hover {
    background-position: left top; }
  .button_red:active {
    box-shadow: -1px -1px 4px silver;
    -webkit-box-shadow: -1px -1px 4px silver;
    -moz-box-shadow: -1px -1px 4px silver; }
  .button_red:hover {
    background-image: url("/images/bg-button-red-over.gif"); }

#licence {
  border-left: 15px solid #e0e0e0;
  margin-left: 25px;
  padding-left: 20px;
  width: 60%; }
  #licence li {
    font-size: 14px;
    color: #363636; }

.time_zone select {
  padding: 10px; }
