html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #363636; }

h1 {
  margin: 10px;
  color: white; }

input {
  font-size: 20px;
  padding: 4px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3x;
  -webkit-border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px 0px inset; }
  input:focus {
    background-color: #f6feff; }

label {
  margin-bottom: 4px; }

form {
  text-align: left; }

a {
  color: #3c62a1;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #3c62a1; }
  a:hover {
    border-bottom: 1px solid #3c62a1; }

#header {
  height: 120px;
  background: url("/images/bg-home-header-content.jpg") repeat-x center top; }
  #header #nav {
    padding: 5px;
    padding-top: 14px;
    text-align: right;
    width: auto;
    margin: 0;
    height: 46px;
    color: white; }
    #header #nav a {
      color: white;
      border-bottom: 1px dotted white; }
      #header #nav a:hover {
        border-bottom: 1px solid white; }
    #header #nav .logo a {
      font-weight: bold;
      color: white;
      float: left;
      font-size: 16px;
      border-bottom: none; }
      #header #nav .logo a .capital {
        color: #e2effc; }
  #header #heading {
    margin-top: 5px; }

#main {
  min-height: 200px;
  padding-top: 15px;
  padding-left: 20px;
  background: white url("/images/bg-container.gif") repeat-x 0% 0%;
  border-top: 1px solid white; }

#content .controls {
  display: inline-block;
  float: right;
  color: silver;
  padding-left: 100px; }
  #content .controls a {
    color: #9fb2d2;
    border-bottom-color: #9fb2d2; }
  #content .controls .secondary {
    font-size: 14px; }
#content .report_controls {
  text-align: center; }
  #content .report_controls .prev_week {
    float: left; }
    #content .report_controls .prev_week img {
      border: none;
      vertical-align: middle;
      padding-right: 5px; }
  #content .report_controls .next_week {
    float: right;
    margin-right: 20px; }
    #content .report_controls .next_week img {
      border: none;
      vertical-align: middle;
      padding-left: 5px; }
#content ul.checklists {
  width: 90%;
  padding-left: 0;
  list-style: none;
  font-size: 20px; }
  #content ul.checklists li.checklist {
    padding: 10px; }
    #content ul.checklists li.checklist:hover {
      border: 1px solid #92c5ef;
      background-color: #f7fdff;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
#content div.users {
  padding-bottom: 50px; }
  #content div.users div.user {
    padding: 10px; }
    #content div.users div.user:hover {
      border: 1px solid #92c5ef;
      background-color: #f7fdff;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
    #content div.users div.user h3 {
      margin-top: 0; }
#content .checklist:hover .controls, #content .user:hover .controls {
  color: #363636; }
  #content .checklist:hover .controls a, #content .user:hover .controls a {
    color: #3c62a1;
    border-bottom-color: #3c62a1; }
#content #user_list {
  padding-top: 40px; }
#content table.timeline_entries tr:hover td {
  background-color: #d6eff7; }
#content table.timeline_entries tr th {
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 10px;
  padding-right: 50px; }
#content table.timeline_entries tr td {
  padding-left: 10px;
  padding-right: 50px; }
  #content table.timeline_entries tr td.first {
    border-left: none; }

#flash {
  background-color: #ffcc66;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  border-bottom-color: #c5c5c5;
  box-shadow: 0 1px 0 #e2e2e2;
  -webkit-box-shadow: 0 1px 0 #e2e2e2;
  -moz-box-shadow: 0 1px 0 #e2e2e2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  #flash div {
    background: #e5e5e5 url("/images/bg-box.gif") repeat-x left top;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px; }

.center {
  text-align: center; }

.button, input[type=submit], button {
  padding: 5px;
  box-shadow: #548e06 1px 2px 4px;
  -webkit-box-shadow: #548e06 1px 2px 4px;
  -moz-box-shadow: #548e06 1px 2px 4px;
  background: #7cc319 url("/images/bg-button.gif") repeat-x 0% 100%;
  border: 1px solid #6aad0f;
  border-radius: 5px;
  -moz-border-radius: 5x;
  -webkit-border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: #395c09 0px 1px 0px; }
  .button:hover, input[type=submit]:hover, button:hover {
    background-image: url("/images/bg-button-over.gif");
    background-position: left top; }
  .button:active, input[type=submit]:active, button:active {
    box-shadow: -1px -1px 4px silver;
    -webkit-box-shadow: -1px -1px 4px silver;
    -moz-box-shadow: -1px -1px 4px silver; }
