%h3 OnlineChecklists terms of use

%p
  The following are the terms and conditions for use of the OnlineChecklists service ("Service") provided by Aotea Studios
  Limited ("Aotea Studios").

%p
  BY CLICKING THE "SIGN UP" BUTTON AND COMPLETING THE REGISTRATION PROCESS OR BY COMPLETING THE SUBSCRIPTION PROCESS FOR A
  PAID PLAN, YOU (the terms "you" or "yours" includes
  the person or entity that is registered with the Service as well as any additional users you provide access to via the
  invitation process, and any third parties accessing the Service on your
  behalf) ARE STATING THAT YOU AGREE TO BE BOUND BY ALL OF THESE TERMS AND CONDITIONS OF THE SERVICE ("Agreement").
  The Service is offered to you on the condition of your acceptance without modification of the terms, conditions, and notices
  contained herein.

%h4 1. ACCOUNT

%p
  To register for the Service and create an account, you must complete the registration process. You shall protect your
  password and take full responsibility for your own and third party activities
  that occur under your account. You agree to notify Aotea Studios immediately of any unauthorised use of your account
  or any other breach of security.
%p
  From time to time, Aotea Studios may find it necessary to access your account. For instance, Aotea Studios may access your
  account for support, maintenance or security-related reasons. In such event, Aotea Studios will, if possible, provide you
  notice of its intent [to use your username and password] to do so. Regardless of whether such notice is provided,
  you acknowledge and consent to such access.

%b Inviting additional users
%p
  You may provide access to your account to additional users via the invitation process within the Service, up to the
  user limit specified by your current subscription plan.

%b Payment, Refunds, Upgrading and Downgrading Terms
%ol
  %li
    The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for
    partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. No exceptions
    will be made.
  %li
    For any upgrade in plan level, previous charges will be pro-rated. For any downgrade in plan level, you will receive
    store credit which will be used in subsequent billing cycles.
  %li
    Downgrading your Service may cause the loss of Content, features, or capacity of your Account. Aotea Studios does not
    accept any liability for such loss.

%b Account Cancellation
%ol
  %li
    The only accepted method for canceling your account is via the Aotea Studios website account settings. An email or
    phone request to cancel your account is not considered cancellation. You can cancel your account at any time when
    you are logged into your Aotea Studios account by going to the <i>Manage subscription</i> page and using the
    cancellation button.

  %li
    If you cancel the Service before the end of your current paid up month, your cancellation will take effect
    immediately and you will not be charged again.

%h4 2. LICENCE

%p
  Subject to the terms and conditions of this Agreement, Aotea Studios hereby grants you a revocable, non-exclusive,
  non-transferable licence to use the Service. Except as expressly set forth herein, you shall not transfer, lease, lend,
  sublicense, use for timesharing or service bureau purposes, resell or otherwise distribute or allow third party access
  to all or any portion of the Service, including, but not limited to, by sharing your access username and/or password.

%h4 3. FEES

%p
  As a condition of your use of and access to the Service, you agree to pay all applicable fees as described on the
  Aotea Studios website.
%p
  We may change the fees for our Service at any time and from time to time effective immediately upon posting on our
  website, provided that, no fee change will be effective as to Service orders accepted by Aotea Studios prior to the effective
  date of such change.
%p
  Unless otherwise stated, all fees are stated in U.S. Dollars. All fees are payable monthly in advance.
  We reserve the right to deactivate your access to the Service for failure to pay applicable fees.
  If you provide us with a credit card that expires during the term of this Agreement, we reserve the right to charge
  any renewal card issued to you as a replacement.

%h4 4. INFORMATION RIGHTS

%p
  You have the exclusive right to use all data derived by your use of the Service, including reports, for any purpose
  related to your business.
%p
  Notwithstanding the foregoing, in connection with the provision of the Service, Aotea Studios may aggregate data derived from your use
  of the Service to compile aggregate statistics, metrics and general trend data about the Service for marketing and
  promotional purposes.

%h4 5. CONFIDENTIALITY

%p
  The term "Confidential Information" shall mean any information disclosed by one Party to the other Party in connection
  with this Agreement which is disclosed in writing or orally and is identified as "Confidential" or which a Party should
  reasonably believe is treated as confidential by such other Party, and any other information disclosed by Aotea Studios that
  relates to the Service or Aotea Studios technology (including your password) that is not publicly
  known. Notwithstanding the foregoing, "Confidential Information" shall not include information that: (i) was developed
  independently by the receiving Party without any use of the Confidential Information of the other Party or by
  employees of the receiving Party who have no knowledge of such Confidential Information; (ii) becomes known to the
  receiving Party, without restriction, from a third party without breach of this Agreement or any other obligation of
  confidentiality; (iii) was in the public domain at the time it was disclosed or enters the public domain through no
  act or omission of the receiving Party; (iv) was rightfully known to the receiving Party as demonstrated by prior
  written records at the time of disclosure; or (v) is disclosed by agreement of the Parties or pursuant to the order
  or requirement of a court, administrative agency, or other governmental body; provided, however, that the receiving
  Party shall provide prompt notice thereof to the other Party and shall use commercially reasonable efforts to
  obtain a protective order or otherwise prevent public disclosure of such information.
%p
  Each Party shall treat as confidential all Confidential Information of the other Party, shall not use such Confidential
  Information, except as expressly permitted under this Agreement, and shall not disclose such Confidential Information
  to any third party without such other Party's prior written consent. Each Party shall take reasonable measures to
  prevent the disclosure and unauthorised use of Confidential Information of the other Party.

%h4 6. PROPRIETARY RIGHTS; RESTRICTIONS ON USE

%p
  Except for the limited licences expressly granted herein, Aotea Studios expressly reserves all right, title and interest
  in and to the content of the Service website, and all processing, analytics, and other
  software and technology used by Aotea Studios in the provision of the Service
  ("Aotea Studios Technology"), including, without limitation, any derivatives, improvements, enhancements or extensions of
  the Aotea Studios Technology conceived, reduced to practice or otherwise developed by or on behalf of Aotea Studios, all of
  which are valuable assets of Aotea Studios, and any copyright, patent or trademark or other intellectual property right,
  or federal or state right, pertaining thereto.

%p
  You shall not: (i) use, or allow the use of, the Service or any Aotea Studios Technology, except pursuant to the limited
  rights expressly granted in this Agreement; (ii) use the Service in any manner that is inconsistent with user
  documentation, if any, supplied to you by Aotea Studios or inconsistent with Aotea Studios's standard security procedures,
  if any, accessible through your user interface; (iii) attempt to reverse engineer, hack into, or compromise any aspect
  of the Service or Aotea Studios Technology, or attempt to access data of any other customer of Aotea Studios; (iv) remove,
  obscure or alter any legal notices, including notices of intellectual property rights appearing in or on any
  materials delivered to you by Aotea Studios; or (v) use, post, transmit or introduce any device, software or routine
  which interferes or attempts to interfere with the operation of the Service.

%h4 7. INDEMNIFICATION

%p
  You agree to indemnify, hold harmless and defend Aotea Studios, at your expense, against any and all third party claims,
  actions, proceedings, and suits brought against Aotea Studios or any of its officers, directors, employees, agents or
  affiliates, and all related liabilities, damages, settlements, penalties, fines, costs or expenses (including, without
  limitation, reasonable attorneys' fees) incurred by Aotea Studios or any of its officers, directors, employees, agents
  or affiliates, arising out of or relating to (i) your breach of any term or condition of this Agreement, or (ii) your
  use of the Service. In such a case, Aotea Studios will provide
  you with written notice of such claim, suit or action. You shall cooperate as fully as reasonably required in
  the defence of any claim. Aotea Studios reserves the right, at its own expense, to assume the exclusive defence and
  control of any matter subject to indemnification by you.

%h4 8. REPRESENTATIONS AND WARRANTIES; DISCLAIMERS

%p
  The information, reports and services included in or available through the Service may include inaccuracies or
  typographical errors. Changes are periodically added to the information herein. Aotea Studios and/or its respective
  suppliers may make improvements and/or changes in the Service at any time, without obligation to notify any person
  or entity of such changes.

%p
  Aotea Studios does not represent or warrant that (i) the Service will be error-free or accessible at all times, (ii)
  defects will be corrected, (iii) the Service or the server that makes it available, are free of viruses or other
  harmful component, or (iv) the use or the results of the use of the Service or the materials made available as
  part of the Service will be correct, accurate, timely, or otherwise reliable. You specifically agree that Aotea Studios
  shall not be responsible for unauthorised access to or alteration of your data.
%p
  THE SERVICE IS PROVIDED "AS IS" AND THERE ARE NO WARRANTIES, CLAIMS OR
  REPRESENTATIONS MADE BY Aotea Studios, EITHER EXPRESS, IMPLIED, OR STATUTORY, WITH RESPECT TO THE SERVICE OR THE
  DOCUMENTATION, INCLUDING WARRANTIES OF QUALITY, PERFORMANCE, NON-INFRINGEMENT,
  MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE, NOR ARE THERE ANY WARRANTIES CREATED BY COURSE OF DEALING,
  COURSE OF PERFORMANCE, OR TRADE USAGE. Aotea Studios DOES NOT WARRANT THAT THE SERVICE, THE Aotea Studios SCRIPT OR
  REPORTS WILL MEET YOUR NEEDS OR BE FREE FROM ERRORS, OR THAT THE OPERATION OF THE SERVICE WILL BE UNINTERRUPTED.
  THE FOREGOING EXCLUSIONS AND DISCLAIMERS ARE AN ESSENTIAL PART OF THIS AGREEMENT AND FORMED THE BASIS FOR
  DETERMINING THE PRICE CHARGED FOR THE SERVICE.

%h4 9. SERVICE LEVELS

%p
  Aotea Studios does not guarantee, and shall have no liability for, any Service down time (i) caused by outages to any
  public Internet backbones, networks or servers, (ii) caused by any failures of your equipment, systems or local access
  services, (iii) for previously scheduled maintenance, or (iv) relating to events beyond Aotea Studios's control such as
  strikes, riots, insurrection, fires, floods, explosions, war, governmental action, labor conditions, earthquakes,
  natural disasters, or interruptions in Internet services to an area where Aotea Studios or your servers are located or
  co-located.

%h4 10. LIMITATIONS OF LIABILITY

%p
  Aotea Studios WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, SPECIAL, PUNITIVE, CONSEQUENTIAL
  (INCLUDING, WITHOUT LIMITATION, LOST PROFITS OR LOST DATA COLLECTED THROUGH THE SERVICE), OR INCIDENTAL DAMAGES,
  WHETHER BASED ON A CLAIM OR ACTION OF CONTRACT, WARRANTY, NEGLIGENCE, STRICT LIABILITY, OR OTHER TORT, BREACH OF
  ANY STATUTORY DUTY, INDEMNITY OR CONTRIBUTION, OR OTHERWISE, EVEN IF Aotea Studios HAS BEEN ADVISED OF THE POSSIBILITY OF
  SUCH DAMAGES. THE EXCLUSION CONTAINED IN THIS PARAGRAPH SHALL APPLY REGARDLESS OF THE FAILURE OF THE EXCLUSIVE REMEDY
  PROVIDED IN THE FOLLOWING PARAGRAPH.
%p
  Aotea Studios'S CUMULATIVE LIABILITY TO YOU OR ANY OTHER PARTY FOR ANY LOSS OR DAMAGES RESULTING FROM ANY CLAIMS, DEMANDS,
  OR ACTIONS ARISING OUT OF OR RELATING TO THIS AGREEMENT SHALL NOT EXCEED THE AGGREGATE FEES PAID TO Aotea Studios FOR USE
  OF THE SERVICE.

%h4 11. TERM AND TERMINATION

%p
  Either party may terminate this agreement at any time and for any reason. In addition, this agreement will terminate
  immediately, without notice, if you fail to comply with the terms of this Agreement.
%p
  Upon any termination of this agreement, (i) Aotea Studios will cease providing the Service; (ii) any outstanding
  balance payable by you to Aotea Studios will become immediately
  due and payable; (iv) you will not be entitled to any refunds of any usage fees or any other fees; and (v) all of
  your historical report data will no longer be available to you.

%h4 12. MODIFICATIONS TO TERMS OF SERVICE AND OTHER POLICIES

%p
  Aotea Studios reserves the right to change or modify any of the terms and conditions contained in this Agreement or any
  policy governing the Service, at any time, by posting the new agreement to the Aotea Studios website located at
  http://onlinechecklists.com (or such other URL as Aotea Studios may provide). You are responsible for regularly reviewing
  the policy. No amendment to or modification of this Agreement will be binding unless (i) in writing and signed by a
  duly authorised representative of Aotea Studios, (ii) you accept updated terms online, or (iii) you continue to use the
  Service after Aotea Studios has posted updates to the Agreement or to any policy governing the Service.

%h4 13. COMPLIANCE

%p
  You will not use the Service in any way or for any purpose that would violate, or would have the effect of violating,
  any applicable laws, rules or regulations or any rights of any third parties, including without limitation, any law
  or right regarding any copyright, patent, trademark, trade secret, music, image, or other proprietary or property
  right, false advertising, unfair competition, defamation, invasion of privacy or rights of celebrity.

%h4 14. MISCELLANEOUS; APPLICABLE LAW AND VENUE

%p
  Aotea Studios shall be excused from performance hereunder to the extent that performance is prevented, delayed or
  obstructed by causes beyond its reasonable control. This Agreement (including any amendment agreed upon by the parties
  in writing) represents the complete agreement between us concerning its subject matter, and supersedes all prior
  agreements and representations between the parties. If any provision of this Agreement is held to be unenforceable
  for any reason, such provision shall be reformed to the extent necessary to make it enforceable to the maximum extent
  permissible so as to affect the intent of the parties, and the remainder of this Agreement shall continue in full
  force and effect. This Agreement shall be governed by and construed under the laws of New Zealand. In the event of
  any conflicts between foreign law, rules, and
  regulations, and New Zealand law, rules, and regulations, New Zealand law, rules and regulations shall prevail and
  govern. Each party agrees to submit to the exclusive and personal jurisdiction of the courts located in Wellington,
  New Zealand. The United Nations Convention on Contracts for the International Sale of Goods and the Uniform Computer
  Information Transactions Act shall not apply to this Agreement. A waiver of any default is not a waiver of any
  subsequent default. You may not
  assign or otherwise transfer any of your rights hereunder without Aotea Studios's prior written consent, and any such
  attempt is void. The relationship between Aotea Studios and you is not one of a legal partnership relationship, but is
  one of independent contractors. This Agreement shall be binding upon and inure to the benefit of the respective
  successors and assigns of the parties hereto.

%h4 15. SPECIAL ADMONITIONS FOR INTERNATIONAL USE

%p
  Recognising the global nature of the Internet, you agree to comply with all local rules regarding online conduct and
  acceptable content. Specifically, you agree to comply with all applicable laws affecting the transmission or posting
  of content or affecting the privacy of persons.




-#%h3 Licence
-#%p
-#  This licence is a legal document designed to protect your rights and the rights of the developer of OnlineChecklists (Aotea Studios).
-#  Please read it carefully. Use of OnlineChecklists constitutes acceptance of the terms of this licence. If you do not accept
-#  the terms of this licence, do not subscribe to a paid OnlineChecklists plan.
-#%p
-#  1) Description of Software and Parties: This licence is a contract between you (hereafter, the Customer) and Aotea Studios
-#  (hereafter, the Developer) regarding the use and/or sale of OnlineChecklists.
-#%p
-#  2) All rights in the Software are owned by the Developer. This includes copyright of all program code, data files, and
-#  documentation. The Customer is prohibited from reverse-engineering, modifying, tampering with, or otherwise altering
-#  the form or normal operation of the Software. Any documents or data you create using the Software are yours in their
-#  entirety, and the Developer disclaims any interest or responsibility in them.
-#%p
-#  3) Versions: There is a Trial Version and a Full Version of the Software available. The Trial version is a time
-#  limited variety of the Full Version of the Software. Upgrading to the Full Version requires purchase of a Licence, as described below.
-#%p
-#  4) Trial Version: The Developer hereby grants the Customer a limited, non-exclusive, and non-transferable Licence to
-#  make use of the Trial Version of the software.
-#%p
-#  5) Full Version: The Developer offers for purchase Licences of the Full Version of the Software. These licences confer a
-#  limited, non-exclusive, and non-transferable right to make use of the Full Version of the Software. A Licence entitles
-#  the number of individuals set out in the plan subscribed for to make use of the Full Version of the Software on as many computers
-#  as they require.
-#%p
-#  6) LIMITATION OF LIABILITY: THE SOFTWARE IS SOLD "AS IS" AND "WITH ALL FAULTS". THE DEVELOPER MAKES NO WARRANTY THAT IT
-#  IS FREE OF DEFECTS OR IS SUITABLE FOR ANY PARTICULAR PURPOSE. IN NO EVENT SHALL THE DEVELOPER BE RESPONSIBLE FOR LOSS
-#  OR DAMAGES ARISING FROM THE USE OF THE SOFTWARE, INCLUDING BUT NOT LIMITED TO ANY INDIRECT, PUNITIVE, SPECIAL,
-#  INCIDENTAL OR CONSEQUENTIAL DAMAGES. THE CUSTOMER IS SOLELY RESPONSIBLE FOR ENSURING THAT THEIR USE OF THE SOFTWARE IS
-#  IN ACCORDANCE WITH THE LAW OF THEIR JURISDICTION.
-#%p
-#  7) PROHIBITION OF ILLEGAL USE: USE OF THE SOFTWARE WHICH IS CONTRARY TO THE LAW IS PROHIBITED, AND IMMEDIATELY TERMINATES
-#  THE CUSTOMER'S LICENCE TO USE THE SOFTWARE.