This licence is a legal document designed to protect your rights and the rights of the developer of OnlineChecklists (Aotea Studios).
Please read it carefully. Use of OnlineChecklists constitutes acceptance of the terms of this licence. If you do not accept
the terms of this licence, do not subscribe to a paid OnlineChecklists plan.

1) Description of Software and Parties: This license is a contract between you (hereafter, the Customer) and Aotea Studios
(hereafter, the Developer) regarding the use and/or sale of OnlineChecklists.

2) All rights in the Software are owned by the Developer. This includes copyright of all program code, data files, and
documentation. The Customer is prohibited from reverse-engineering, modifying, tampering with, or otherwise altering
the form or normal operation of the Software. Any documents or data you create using the Software are yours in their
entirety, and the Developer disclaims any interest or responsibility in them.

3) Versions: There is a Trial Version and a Full Version of the Software available. The Trial version is a time
limited variety of the Full Version of the Software. Upgrading to the Full Version requires purchase of a Licence, as described below.

3) Trial Version: The Developer hereby grants the Customer a limited, non-exclusive, and non-transferable Licence to
make use of the Trial Version of the software.

4) Full Version: The Developer offers for purchase Licences of the Full Version of the Software. These licences confer a
limited, non-exclusive, and non-transferable right to make use of the Full Version of the Software. A Licence entitles
the number of individuals set out in the plan subscribed for to make use of the Full Version of the Software on as many computers
as they require.

5) LIMITATION OF LIABILITY: THE SOFTWARE IS SOLD "AS IS" AND "WITH ALL FAULTS". THE DEVELOPER MAKES NO WARRANTY THAT IT
IS FREE OF DEFECTS OR IS SUITABLE FOR ANY PARTICULAR PURPOSE. IN NO EVENT SHALL THE DEVELOPER BE RESPONSIBLE FOR LOSS
OR DAMAGES ARISING FROM THE USE OF THE SOFTWARE, INCLUDING BUT NOT LIMITED TO ANY INDIRECT, PUNITIVE, SPECIAL,
INCIDENTAL OR CONSEQUENTIAL DAMAGES. THE CUSTOMER IS SOLELY RESPONSIBLE FOR ENSURING THAT THEIR USE OF THE SOFTWARE IS
IN ACCORDANCE WITH THE LAW OF THEIR JURISDICTION.

6) PROHIBITION OF ILLEGAL USE: USE OF THE SOFTWARE WHICH IS CONTRARY TO THE LAW IS PROHIBITED, AND IMMEDIATELY TERMINATES
THE CUSTOMER'S LICENCE TO USE THE SOFTWARE.