- content_for :heading do
  Goodbye

We are sorry to see you go.
%br
%br
If you have any feedback about OnlineChecklists, please write us to
%a(href = "mailto:feedback@onlinechecklists.com?subject=Feedback")
  feed<span style = "display: none"></span>back@online<span style = "display: none"></span>checklists.com